@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@plugin "@tailwindcss/forms";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.25 0.03 240.8);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.25 0.03 240.8);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.25 0.03 240.8);
  --primary: oklch(0.443 0.1 240.8);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.955 0.01 240.8);
  --secondary-foreground: oklch(0.25 0.05 240.8);
  --muted: oklch(0.97 0.002 240.8);
  --muted-foreground: oklch(0.52 0.02 240.8);
  --accent: oklch(0.965 0.003 240.8);
  --accent-foreground: oklch(0.25 0.03 240.8);
  --destructive: oklch(0.584 0.239 28.5);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.925 0.005 240.8);
  --input: oklch(0.925 0.005 240.8);
  --ring: oklch(0.443 0.1 240.8 / 0.9);
  --chart-1: oklch(0.25 0.1 240.8);
  --chart-2: oklch(0.35 0.1 240.8);
  --chart-3: oklch(0.55 0.1 240.8);
  --chart-4: oklch(0.75 0.1 240.8);
  --chart-5: oklch(0.85 0.1 240.8);
  --sidebar: oklch(0.984 0.002 240.8);
  --sidebar-foreground: oklch(0.25 0.03 240.8);
  --sidebar-primary: oklch(0.443 0.1 240.8);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.965 0.003 240.8);
  --sidebar-accent-foreground: oklch(0.25 0.03 240.8);
  --sidebar-border: oklch(0.925 0.005 240.8);
  --sidebar-ring: oklch(0.925 0.005 240.8);
  --font-sans: "Inter", sans-serif;
  --font-heading: "Inter", sans-serif;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 0 0 oklch(0.55 0.015 240.8 / 0.05);
  --shadow-xs: 0 1px 2px 0 oklch(0.55 0.015 240.8 / 0.05);
  --shadow-sm:
    0 1px 3px 0 oklch(0.55 0.015 240.8 / 0.1),
    0 1px 2px -1px oklch(0.55 0.015 240.8 / 0.1);
  --shadow-md:
    0 4px 6px -1px oklch(0.55 0.015 240.8 / 0.1),
    0 2px 4px -2px oklch(0.55 0.015 240.8 / 0.1);
  --shadow-lg:
    0 10px 15px -3px oklch(0.55 0.015 240.8 / 0.1),
    0 4px 6px -4px oklch(0.55 0.015 240.8 / 0.1);
  --shadow-xl:
    0 20px 25px -5px oklch(0 0 0 / 0.1),
    0 8px 10px -6px oklch(0.55 0.015 240.8 / 0.1);
  --shadow-2xl: 0 25px 50px -12px oklch(0.55 0.015 240.8 / 0.15);
}

.dark {
  --background: oklch(0.15 0.01 240.8);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.17 0.01 240.8);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.18 0.01 240.8);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.443 0.1 240.8);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.523 0.1 240.8 / 0.25);
  --secondary-foreground: oklch(0.9 0.1 240.8);
  --muted: oklch(0.25 0.007 240.8);
  --muted-foreground: oklch(0.75 0.015 240.8);
  --accent: oklch(0.38 0.01 240.8);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.69 0.2 23.9);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.29 0.007 240.8);
  --input: oklch(0.29 0.007 240.8);
  --ring: oklch(0.523 0.1 240.8);
  --chart-1: oklch(0.35 0.1 240.8);
  --chart-2: oklch(0.55 0.1 240.8);
  --chart-3: oklch(0.75 0.1 240.8);
  --chart-4: oklch(0.9 0.1 240.8);
  --chart-5: oklch(0.99 0.1 240.8);
  --sidebar: oklch(0.11 0.007 240.8);
  --sidebar-foreground: oklch(0.98 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0.2 0.007 240.8);
  --sidebar-accent: oklch(0.24 0.007 240.8);
  --sidebar-accent-foreground: oklch(0.98 0 0);
  --sidebar-border: oklch(0.28 0.007 240.8);
  --sidebar-ring: oklch(0.523 0.1 240.8);
  --shadow-2xs: 0 1px 3px 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0 hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0 hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --animate-hide: hide 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-down-and-fade: slideDownAndFade 150ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-left-and-fade: slideLeftAndFade 150ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-and-fade: slideUpAndFade 150ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right-and-fade: slideRightAndFade 150ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-accordion-open: accordionOpen 150ms cubic-bezier(0.87, 0, 0.13, 1);
  --animate-accordion-close: accordionClose 150ms cubic-bezier(0.87, 0, 0.13, 1);
  --animate-dialog-overlay-show: dialogOverlayShow 150ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-dialog-content-show: dialogContentShow 150ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-drawer-slide-left-and-fade: drawerSlideLeftAndFade 150ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-drawer-slide-right-and-fade: drawerSlideRightAndFade 150ms ease-in;

  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(6px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideRightAndFade {
    from {
      opacity: 0;
      transform: translateX(-6px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes accordionOpen {
    from {
      height: 0px;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordionClose {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0px;
    }
  }
  @keyframes dialogOverlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes dialogContentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -45%) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  @keyframes drawerSlideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes drawerSlideRightAndFade {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}
